* {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background-color: #1d1d1d;
  padding: 60px;
}

button {
  background-color: #555555;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  color: #555555;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid #0f0f0fa2;
  box-shadow: #0f0f0f 4px 4px 7px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}